<div class="page-container">
    <!-- Side Navigator of every page -->
    <div class="side-nav">
       <div class="profile-img">
          <img src="./assets/rider.png" alt="">
       </div>
       <div class="nav-links">
          <div class="nav-icons" routerLink="/home" routerLinkActive="active">
             <i class="fa-solid fa-house" routerLink="/home" routerLinkActive="active"></i>
          </div>
          <div class="nav-icons">
             <i class="fa-solid fa-calendar"></i>
          </div>
          <div class="nav-icons">
             <i class="fa-solid fa-car"></i>
          </div>
          <hr class="divisor">
          <div class="nav-icons">
             <i class="fa-solid fa-user"></i>
          </div>
          <div class="nav-icons">
             <i class="fa-solid fa-gear"></i>
          </div>
       </div>
    </div>
    <!-- All contents placed here -->
    <div class="body-container"> 
      <div class="body-main">
         <div class="body-banner"></div>

         <div class="body-dash">
            <h4>Lorem ipsum dolor sit</h4>
         </div>
      </div>
      <div class="body-sub">
         <h4>Available Rides</h4>
      </div>
    </div>
 </div>