<div class="login-container">
  <div class="login-image">
    <img src="./assets/bg-login.svg" alt="">
  </div>
  <div class="login-form">
    <div class="login-content">
        <h3>Login Account</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nihil nesciunt nobis, nulla maxime in illo
          accusantium! Id voluptates voluptate distinctio nihil, at sunt fuga harum dolorum? Ad, consectetur architecto.</p>
    
        <div class="forms">
            <input type="text" id="form-input" placeholder="Email" class="_email" >
            <input type="password" id="form-input" placeholder="Password" class="_password" >
        </div>

        <div class="cta-btns">
            <div class="btn-span">
                <p>
                    <span>Already have an account? </span>
                    <br>
                    <span>Forgot Password</span>
                </p>
                <button id="cta" class="_loginButton" (click)="login_user()">Login</button>
                <button type="button" id="cta"  class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#registerModal">
                  Register
                </button>
            </div>
        </div>
    </div>
  </div>

  <!-- Button to Open the Modal -->


<!-- USER TYPE SELECTION MODAL -->
<div class="modal bounceIn" id="registerModal">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content p-5">

      <div class="row">

        <div class="col-12">
          <h2 class="text-center">Register As</h2>
        </div>
        
        <div class="col-6 p-3 text-center">
          <button class="btn btn-primary w-100 _register" (click) = "register('rider')" data-bs-dismiss="modal">RIDER</button>
        </div>
    
        <div class="col-6 p-3 text-center">
          <button class="btn btn-primary w-100 _register" (click) = "register('user')" data-bs-dismiss="modal">USER</button>
        </div>
    
      </div>
     
    </div>
  </div>
</div>

<!-- ENTER OTP MODAL -->
<div class="modal bounceIn" id="otpModal">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content p-5">

      <div class="row">

        <div class="col-12">
          <h2 class="text-center">Enter Otp</h2>
        </div>

       <div class="col-12">
          <input type="text" name="_otp" id="_otp">
       </div>
    
       <div class="col-12 text-center p-3">
          <button class="btn btn-primary btn-sm" (click)="verify_user()">Verify Me!</button>
       </div>

      </div>
     
    </div>
  </div>
</div>
 

</div>
