.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

    .login-image {
        width: 50%;
        height: 100%;
        background-color: #000;
    }

    .login-form {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}