<div class="login-container">
  <div class="login-image">
    <img src="./assets/bg-login.svg" alt="">
  </div>
  <div class="login-form">
    <div class="login-content">
        <h3>Login Account</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nihil nesciunt nobis, nulla maxime in illo
          accusantium! Id voluptates voluptate distinctio nihil, at sunt fuga harum dolorum? Ad, consectetur architecto.</p>
    
        <div class="forms">
            <input type="text" id="form-input" placeholder="Username">
            <input type="password" id="form-input" placeholder="Password">
        </div>

        <div class="cta-btns">
            <div class="btn-span">
                <p>
                    <span>Already have an account? </span>
                    <br>
                    <span>Forgot Password</span>
                </p>
                <button id="cta">Login</button>
            </div>
        </div>
    </div>
  </div>
</div>
